{% load static %}

<ul class="main-menu">
    <li>
        <a class="menu-title" href="#">Alunos</a>
        <ul class="submenu">
            {% if user.voluntario.tipo_voluntario == 'PROFESSOR' %}
            <li class="{% if request.resolver_match.url_name == 'pesquisar_aluno' %}link-ativo{% endif %}">
                <a href="{% url 'pesquisar_aluno' %}">Pesquisar Aluno</a>
            </li>
            {% else %}
            <li class="{% if request.resolver_match.url_name == 'cadastrar_aluno' %}link-ativo{% endif %}">
                <a href="{% url 'cadastrar_aluno' %}">Cadastrar Aluno</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'pesquisar_aluno' %}link-ativo{% endif %}">
                <a href="{% url 'pesquisar_aluno' %}">Pesquisar Aluno</a>
            </li>
            {% endif %}
        </ul>
    </li>

    <li>
        <a class="menu-title" href="#">Disciplina</a>
        <ul class="submenu">
            {% if user.voluntario.tipo_voluntario == 'PROFESSOR' %}
            <li class="{% if request.resolver_match.url_name == 'pesquisar_disciplina' %}link-ativo{% endif %}">
                <a href="{% url 'pesquisar_disciplina' %}">Pesquisar Disciplina</a>
            </li>
            {% else %}
            <li class="{% if request.resolver_match.url_name == 'cadastrar_disciplina' %}link-ativo{% endif %}">
                <a href="{% url 'cadastrar_disciplina' %}">Cadastrar Disciplina</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'pesquisar_disciplina' %}link-ativo{% endif %}">
                <a href="{% url 'pesquisar_disciplina' %}">Pesquisar Disciplina</a>
            </li>
            {% endif %}
        </ul>
    </li>

    {% if user.voluntario.tipo_voluntario != 'PROFESSOR' %}
    
    <li>
        <a class="menu-title" href="#">Cursos</a>
        <ul class="submenu">
            <li class="{% if request.resolver_match.url_name == 'cadastrar_curso' %}link-ativo{% endif %}">
                <a href="{% url 'cadastrar_curso' %}">Cadastrar Curso</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'pesquisar_curso' %}link-ativo{% endif %}">
                <a href="{% url 'pesquisar_curso' %}">Pesquisar Curso</a>
            </li>
        </ul>
    </li>


    {% endif %}

    <li>
        <a class="menu-title" href="#">Turmas</a>
        <ul class="submenu">
            {% if user.voluntario.tipo_voluntario == 'PROFESSOR' %}
            <li class="{% if request.resolver_match.url_name == 'pesquisar_turma' %}link-ativo{% endif %}">
                <a href="{% url 'pesquisar_turma' %}">Pesquisar Turma</a>
            </li>
            {% else %}
            <li class="{% if request.resolver_match.url_name == 'cadastrar_turma' %}link-ativo{% endif %}">
                <a href="{% url 'cadastrar_turma' %}">Cadastrar Turma</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'pesquisar_turma' %}link-ativo{% endif %}">
                <a href="{% url 'pesquisar_turma' %}">Pesquisar Turma</a>
            </li>
            {% endif %}
        </ul>
    </li>

    {% if user.voluntario.tipo_voluntario != 'PROFESSOR' %}
    <li>
        <a class="menu-title" href="#">Voluntários</a>
        <ul class="submenu">
            <li class="{% if request.resolver_match.url_name == 'cadastrar_voluntario' %}link-ativo{% endif %}">
                <a href="{% url 'cadastrar_voluntario' %}">Cadastrar Voluntário</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'pesquisar_voluntario' %}link-ativo{% endif %}">
                <a href="{% url 'pesquisar_voluntario' %}">Pesquisar Voluntário</a>
            </li>
        </ul>
    </li>
    {% endif %}
</ul>