{% extends "registration_base.html" %}
{% load static %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<div class="container">

    <img class="logo" src="{% static 'img/logoBrancoVerde.png' %}" alt="Logo" />

    <div class="form-container">

        <h2 style="color: white; text-align: center; margin-bottom: 20px;">Redefinir Senha</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="user-details">

                {% for field in form %}
                    <div class="input-box">
                        {% if field.errors %}
                        <div class="field-error">
                            {% for error in field.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {{ field|as_widget(attrs={"placeholder": field.label, "autocomplete": "new-password"}) }}
                    </div>
                {% endfor %}

            </div>

            <div class="button">
                <input type="submit" value="Alterar Senha">
            </div>
        </form>

    </div>
</div>
{% endblock %}
