{% extends "registration_base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">

    <img class="logo" src="{% static 'img/Logo.png' %}" alt="Logo" />

    <div class="form-container">

        {% if form.non_field_errors %}
        <div class="error-message">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="user-details">
                <div class="input-box">
                    {% if form.email.errors %}
                    <div class="field-error">
                        {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <input type="text" name="email" id="id_email"
                        value="{{ form.email.value|default_if_none:'' }}" placeholder="Email" required>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Enviar Email de Recuperação de Senha">
            </div>
        </form>
    </div>
</div>
{% endblock %}