{% extends "registration_base.html" %}
{% load static %}

{% block title %}Redefinição de Senha Enviada{% endblock %}

{% block content %}
<div class="container">

    <img class="logo" src="{% static 'img/logoBrancoVerde.png' %}" alt="Logo" />

    <div class="form-container">

        <h2 style="color: white; text-align: center; margin-bottom: 20px;">Email Enviado!</h2>
        <p style="color: #b6b8b8; text-align: center; margin-bottom: 30px;">
            Se o endereço de email informado estiver cadastrado, você receberá um link para redefinir sua senha em breve.
        </p>

        <div class="button">
            <a href="{% url 'login' %}" class="login-return-button">Voltar ao Login</a>
        </div>

    </div>
</div>
{% endblock %}
