{% extends "registration_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container">

    <img class="logo" src="{% static 'img/logoBrancoVerde.png' %}" alt="Logo" />

    <div class="form-container">
        <h1>Cadastre-se</h1>

        {% if form.non_field_errors %}
        <div class="error-container">
            {% for error in form.non_field_errors %}
            <div class="error-icon-container">
                <img src="{% static 'img/icon-error.png' %}" alt="Error">
            </div>
            <p class="error-message">{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="user-form">

                <div class="input-box">
                    {{ form.nome.errors }}
                    {{ form.nome|add_class:"input" }}
                </div>

                <div class="input-box">
                    {{ form.email.errors }}
                    {{ form.email|add_class:"input" }}
                </div>

                <div class="input-box">
                    {{ form.contato.errors }}
                    {{ form.contato|add_class:"input" }}
                </div>

                <div class="input-box">
                    {{ form.password1.errors }}
                    {{ form.password1|add_class:"input" }}
                </div>

                <div class="input-box">
                    {{ form.password2.errors }}
                    {{ form.password2|add_class:"input" }}
                </div>
            </div>

            <div class="permission-container checkbox-container">
                <input type="checkbox" id="aceito" name="aceito" required>
                <label class="text-link" for="aceito">Cadastrando-se você concorda com o <a href="#">Termo de Uso</a> e a <a href="#">Política de Privacidade</a></label>
            </div>

            <div class="button">
                <input type="submit" value="Cadastrar">
            </div>
        </form>

        <div class="cadastro text-link">
            <p>Já possui cadastro? <a href="{% url 'login' %}">Logue</a> no sistema</p>
        </div>
    </div>
</div>
{% endblock %}
