{% extends "registration_base.html" %}
{% load static %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container">

    <img class="logo" src="{% static 'img/logoBrancoVerde.png' %}" alt="Logo" />

    <div class="form-container">

        <h1>Cadastre-se</h1>
        {% if form.non_field_errors %}
        <div class="error-container">
            {% for error in form.non_field_errors %}
            <div class="error-icon-container">
                <img src="{% static 'img/icon-error.png' %}" alt="Error">
            </div>
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="user-form">
                <div class="input-box">
                    <input type="text" name="nome" id="nome" placeholder="Nome" required>                    
                </div>
                
                <div class="input-box">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
                
                <div class="input-box">
                    <input type="tel" name="contato" id="contato" placeholder="Contato" required pattern="\d{10,11}">
                </div>

                <div class="input-box">
                    <input type="password" name="senha" id="senha" placeholder="Senha" required>
                </div>

                <div class="input-box">
                    <input type="password" name="confirmar_senha" id="confirmar_senha" placeholder="Confirmar Senha" required>
                </div>
            </div>

            <div class="permission-container checkbox-container">
                <input type="checkbox" id="aceito" name="aceito" required>
                <label class="text-link" for="aceito">Cadastrando-se você concorda com o <a href="#">Termo de Uso</a> e a <a href="#">Política de Privacidade</a></label>
            </div>

            <div class="button">
                <input type="submit" value="Cadastrar">
            </div>
        </form>

        
        
        <div class="cadastro text-link">
            <p>Já possui cadastro? <a href="{% url 'login' %}">Logue</a> no sistema</p>
        </div>
    </div>
</div>
{% endblock %}




